{% extends "base.html" %}
{% load static %}
{% block title %}Registro de usuario{% endblock %}
{% block content %}
<div class="container">
    <div class="d-flex justify-content-center">
        <h3 id="form-title">Registro de Usuario</h3>
    </div>
<div class="d-flex justify-content-center">
<div class="col-5">
    {% if form.errors %}
<div class="alert alert-danger alert-dismissible fade show" role="alert" >
    {{ form.errors }}  
    </div>
{% endif %}
<form method="POST" id = "registro_form" action="">
    {% csrf_token %}
    {{ form.email.label }}
    {{ form.email }}
    {{ form.nombre.label }}
    {{ form.nombre }}
    {{ form.apellido.label }}
    {{ form.apellido }}
    {{ form.fechaNacimiento.label }}
    {{ form.fechaNacimiento }}
    {{ form.sexo.label }}
    {{ form.sexo }}
    Contraseña
    {{ form.password1 }}
    Confirmar Contraseña
    {{ form.password2 }}
<div class="d-flex justify-content-center mt-3 login_container">
    <button class="btn btn-primary col-6 " type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
        <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
      </svg>  Enviar</button>
</div>
</form>
    <div class="d-flex justify-content-center links">
    <a href="{% url 'loguearse' %}">Ya tienes cuenta?</a></div>
</div>
</div>
</div>
{% endblock %}
