{% extends "base.html" %}
{% load static %}
{% block title %}Registro de usuario{% endblock %}
{% block content %}
<div class="container">
    <h3>Registro de Usuario</h3>
<form method="POST" id = "registro_form" action="">
    {% csrf_token %}
    {{ form.email.label }}
    {{ form.email }}
    {{ form.nombre.label }}
    {{ form.nombre }}
    {{ form.apellido.label }}
    {{ form.apellido }}
    {{ form.fechaNacimiento.label }}
    {{ form.fechaNacimiento }}
    {{ form.sexo.label }}
    {{ form.sexo }}
    Contraseña
    {{ form.password1 }}
    <br>
    Confirmar contraseña
    {{ form.password2 }}
    <br>
    <input class="btn btn-primary" type="submit" value="Crear cuenta" name="Crear cuenta">
</form>
    <br>
    <br>
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.errors }}
        </div>
    {% endif %}
    <a href="{% url 'loguearse' %}">Ya tienes cuenta?</a>
</div>
{% endblock %}
