{% extends "base.html" %}
{% load static %}
{% block title %}Registro de usuario{% endblock %}
{% block content %}
<div class="container">
    <div class="d-flex justify-content-center">
        <h3 id="form-title">Registro de Usuario</h3>
    </div>
<div class="d-flex justify-content-center">
<div class="col-5">
<form method="POST" id = "registro_form" action="">
    {% csrf_token %}
    {{ form.email.label }}
    {{ form.email }}
    {{ form.nombre.label }}
    {{ form.nombre }}
    {{ form.apellido.label }}
    {{ form.apellido }}
    {{ form.fechaNacimiento.label }}
    {{ form.fechaNacimiento }}
    {{ form.sexo.label }}
    {{ form.sexo }}
    {{ form.password.label }}
    {{ form.password }}
    {{ form.password2.label }}
    {{ form.password2 }}
<div class="d-flex justify-content-center mt-3 login_container">
    <input class="btn btn-primary col-6 " type="submit" name="Crear cuenta">
</div>
</form>
    {{ form.erros }}
    <div class="d-flex justify-content-center links">
    <a href="{% url 'loguearse' %}">Ya tienes cuenta?</a></div>
</div>
</div>
</div>
{% endblock %}
