{% extends "base.html" %}
{% load static %}
{% block title %}Registro de usuario{% endblock %}
{% block content %}
<div class="container videos">
    <h2>{{ video.nombre }}</h2>
    <table class="table">
        <td>
            <h5>Categoria: </h5>
        </td>
        <td>
            <h5>{{ video.categoria }}</h5>
        </td>
    </table>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video.recurso }}?rel=0&autoplay=1" frameborder="0" allow="autoplay; encrypted-media;" allowfullscreen></iframe>
    <p>Video agregado por: {{ video.usuario }}</p>
    <p>Fecha: {{ video.fechaPublicacion }}</p>
    <table>
        <td><button class="btn btn-dark">+ Favorito</button></td>
        <td><button class="btn btn-dark">+ Ver mas tarde</button></td>
        <td><button class="btn btn-success">Descargar video</button></td>
    </table>
</div>

{% endblock %}